body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: blue;
  padding:15px;
  box-sizing: border-box;
  margin-top:5px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  position:sticky;
  color:white;
  overflow: scroll;
  min-width: 1024px;
}
.navbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}



.nav-items{
  padding:0px;
  margin:0px;
  display:flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 18px;
}
.nav-items li{
  margin:0;
  padding:0;
  cursor: pointer;
  width: 150px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pathDutiesModal{
  height:400px;
  width:700px;
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.68);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  z-index:1 !important;
}
.pathDutiesModal::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.pathDuties::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.booked-by{
          height: 80px;
          width: 150px;
          border: 1px solid black;
          background-color:white;
          border-radius:10px;
          position: absolute;
          bottom: -45px;
          right:10px;
          z-index:1;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: scroll;
          font-size: 14px;
  
      
    
}

@media only screen and (max-width: 800px) {
  .pathDutiesModal {
    width:1024px;
    margin:auto
}
.booked-by{
  right: 77px;
}
 .toast-message {
   min-width: 1024px
 }

}
.pathDutyDiv{
  padding: 14px;
   box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
  
  
}
/* .login-icon{
  position:absolute;
  right:5px;

} */
.signup{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.68);
  position:absolute;
  margin:auto;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height:400px;
  width:450px;
  padding: 20px;
}
.signup span{
  display:flex;
  width:100%;
  padding:20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.signup input{
  border-radius: 20px;
  border:2px solid black;
  font-family:Arial, Helvetica, sans-serif;
font-size: 17px;
padding:7px;
box-sizing: border-box;
}
    .button {
      background-color: #1c87c9;
      -webkit-border-radius: 60px;
      border-radius: 60px;
      border: none;
      color: #eeeeee;
      cursor: pointer;
      width:130px;

      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      font-size: 20px;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
    }
  
    @keyframes glowing {
      0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
      }
  
      50% {
        background-color: #49e819;
        box-shadow: 0 0 0px #49e819;
      }
  
      100% {
        background-color: #2ba805;
        box-shadow: 0 0 0px #2ba805;
      }
    }
  
    .button {
      animation: glowing 1300ms infinite;
    }
                .login {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  font-size: 20px;
                  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.68);
                  position: absolute;
                  margin: auto;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  left: 0;
                  height: 250px;
                  width: 450px;
                  padding: 20px;
                }
    
        .login span {
          display: flex;
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          justify-content: space-between;
          align-items: center;
        }
    
        .login input {
          border-radius: 20px;
          border: 2px solid black;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 17px;
          padding: 7px;
          box-sizing: border-box;
        }
        .password{
          padding-right: 40px !important;
          max-width:240px !important
        }
        .login-button-navbar{
          color:white !important;
          text-decoration: none !important
        }
             .booked-by-cross-icon{
             position:absolute;
             top:7px;
             right:7px;
             font-size:10px;
             }
            
                         .booked-by::-webkit-scrollbar {
                           display: none;
                           /* Safari and Chrome */
                         }
                         .disabled{
                          pointer-events: none;
                          opacity:0.4
                         }
                                                     .cancel-booking-cross-icon{
                                                       position: absolute;
                                                       top: 7px;
                                                       right: 7px;
                                                       font-size: 10px;
                                                     }
                                                                                                         .cancel-booking{
                                                                                                          height: 40px;
                                                                                                            width: 70px;
                                                                                                           border:none;
                                                                                                            background-color: grey;
                                                                                                            border-radius: 10px;
                                                                                                            position: absolute;
                                                                                                            bottom: 25px;
                                                                                                            right: 0px;
                                                                                                            z-index: 1;
                                                                                                            color: white;
                                                                                                            display: flex;
                                                                                                            flex-direction: column;
                                                                                                            justify-content: center;
                                                                                                            align-items: center;
                                                                                                          font-size: 17.7px;
                                                                                                          font-weight: bold;
                                                                                                            cursor: pointer;
                                                                                                         }
                                                                                                         .logo{
                                                                                                          display: flex;
                                                                                                              justify-content: center;
                                                                                                              align-items: center;
                                                                                                            text-align: center;
                                                                                                            font-size: 25px;
                                                                                                         }
                                                                                                        